*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.container{
    z-index: 1;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 240px;
    min-height: 100vh;
}
.logo{
    margin-left:10px;
    padding: 20px;
}
.sidebar{
    width: 240px;
    background-color: #F5F6F7;
    transition: all 0.5s;
    
}
.list-menu{
    font-size: 16px;
    color:#6D747C;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 13px;
    gap: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}
.list-menu:hover{
    border-radius: 50px 0px 0px 50px;
    color:white;
    background-color:#01478C ;
}
.active{
    color: #01478C;
}
.icon{
    font-size: 21px;
}
.list-item{
    margin-top: 5px;
}
.sub-menu{
    background-color: #01478C;
    display: none;
}