.sidebar .verbar {
  background: #f3f4f5;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  height: 74px;
  position: absolute;
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.sidebar .verbar a:first-child {
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  color: #013b75;
  text-decoration: none;
}

.sidebar .verbar img {
  border-radius: 50%;
  width: 35px;
}

.sidebar .sideNavbar {
  min-height: 100vh;
  overflow: scroll initial;
}

.sidebar .sideNavbar .CDBSidebar {
  color: #fff;
  background: linear-gradient(186.12deg, #041d36 -11.19%, #013b75 72.67%);
}

.sidebar .sideNavbar .CDBSidebar .CDBSidebarHeader img {
  width: 160px;
  height: auto;
  margin: 20px;
}

.sidebar .sideNavbar .CDBSidebarFooter a {
  color: #ed4949;
  font-size: 17px;
  margin-bottom: 5px;
}

.sidebar .sideNavbar .CDBSidebarContent .noActive {
  padding: 6px 0;
  border-radius: 30px 0 0 30px;
  margin-right: 0;
  transition: background-color 0.5s, color 0.5s;
}

.sidebar .sideNavbar .CDBSidebarContent .noActive:hover {
  background-color: #f5f6f7;
  color: #01478c;
  margin-right: 0;
  border-radius: 30px 0 0 30px;
}

.sidebar .sideNavbar .CDBSidebarContent .isActive {
  padding: 6px 0;
  background-color: #f5f6f7;
  color: #01478c;
  margin-right: 0;
  border-radius: 30px 0 0 30px;
}

.sidebar .sideNavbar .CDBSidebarFooter .logout {
  padding: 6px 0;
  border-radius: 30px 0 0 30px;
  margin-right: 0;
  transition: background-color 0.5s, color 0.5s;
  margin-bottom: 20px;
}

.sidebar .sideNavbar .CDBSidebarFooter .logout:hover {
  background-color: #f5f6f7;
  color: #991628;
  margin-right: 0;
  border-radius: 30px 0 0 30px;
}
