.file-button {
  font-size: 20px;
  color: #005985;
  cursor: pointer;
}
.file-button:hover {
  color: white;
  padding: 2px 3px 2px 3px;
  background-color: #005985;
  border-radius: 3px;
}

.delete-button {
  font-size: 20px;
  color: #991628;
  cursor: pointer;
}
.delete-button:hover {
  color: white;
  padding: 2px 3px 2px 3px;
  background-color: #991628;
  border-radius: 3px;
}
