.file-button {
  font-size: 20px;
  color: #005985;
  cursor: pointer;
}
.file-button:hover {
  color: aqua;
}

.delete-button {
  font-size: 20px;
  color: #991628;
  cursor: pointer;
}
.delete-button:hover {
  color: aqua;
}
