.card-shadow-pengunjung {
  box-shadow: #d15f02 0px 5px 2px;
}
.card-shadow-pembeli {
  box-shadow: #006ba0 0px 5px 2px;
}
.card-shadow-apk {
  box-shadow: #197722 0px 5px 2px;
}
.card-shadow-transaksi {
  box-shadow: #fbb505 0px 5px 2px;
}
.card-shadow-info {
  box-shadow: #838587 0px 2px 4px;
}
.boltP {
  font-weight: 1000;
}
