.body-overflow {
  overflow: auto;
  max-height: 52vh;
  position: relative;
}

.list-detail {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  background-color: #fef0cd;
  border-radius: 50px;
  margin-bottom: 20px;
}
.detail-produk-text {
  margin: 6px;
}
.text-harga {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
}
.text-provider {
  color: #ffff;
  font-size: large;
  background-color: #991628;
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
}
