.navbar-top {
    background-color: #01478C;
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 20px 20px;
}

.navbar-item {
    color: #D8DADC;
    padding: 5px 15px 5px 15px;
    font-size: 19px;
    margin-top: 5px;
    text-align: center;
}
.navbar-item:hover{
    color: #FBB505;
    border-bottom: solid 2px #FBB505;
}
.navbar-item-coba{
    color: #01478C;
    padding: 5px 15px 5px 15px;
    font-size: 19px;
    margin-top: 5px;
    background-color: #FBB505;
    border-radius: 20px;
    text-align: center;
}