* {
  margin: 0px;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}

.login {
  background: url(../images/BackgroundLogin.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.background {
  height: 100vh;
  width: 100vw;
}

.login .header {
  position: absolute;
  top: 7%;
}
.login .header img {
  width: 90px;
  height: 95px;
}
.login .header p {
  color: #005985;
  margin-top: 8px;
  font-weight: bolder;
}
.login a {
  color: #fbb505;
}
.forms .space {
  margin: 0;
  padding: 30px 30px 30px 30px;
  position: absolute;
  background-color: #013b75;
  border-radius: 12px;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
}

.forms .space label {
  margin-bottom: 5px;
  color: #fbb505;
  font-weight: bolder;
}

.forms .space input {
  border-color: #fbb505;
}
.forms .tombol button {
  position: absolute;
  bottom: 20%;
  width: 12%;
  left: 44.2%;
}
.forms .tombolA button {
  position: absolute;
  bottom: -30%;
  width: 40%;
  left: 32%;
}

.forms a {
  text-decoration: none;
}
