* {
  margin: 0px;
  font-weight: 500;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.login .header {
  position: absolute;
  top: 7%;
}
.login .header img {
  width: 90px;
  height: 95px;
}
.login .header p {
  color: #005985;
  margin-top: 8px;
  font-weight: bolder;
}

.forms .space {
  margin: 0;
  padding: 30px 30px 30px 30px;
  position: absolute;
  background-color: #ccdae8;
  border-radius: 12px;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
}

.forms .space label {
  margin-bottom: 5px;
  color: #fbb505;
  font-weight: bolder;
}

.forms .space input {
  border-color: #fbb505;
}
.forms .tombol button {
  position: absolute;
  bottom: 20%;
  width: 12%;
  left: 44.2%;
}

.forms a {
  text-decoration: none;
}

/* Frame */
.frame .ellipse1 {
  position: absolute;
  left: 0;
  top: 0px;
}
.frame .ellipse2 {
  position: absolute;

  left: 0;
  top: 61px;
}
.frame .ellipse3 {
  position: absolute;
  right: 40px;
  bottom: 160px;
}
.frame .ellipse4 {
  position: absolute;

  right: 0px;
  bottom: 0px;
}
.frame .vector3 {
  position: absolute;
  width: 800px;
  left: 0px;
  bottom: 0px;
}
.frame .vector4 {
  position: absolute;
  width: 980px;
  right: 0px;
  top: 0px;
}
.frame .vector5 {
  position: absolute;
  width: 980px;
  right: 0px;
  top: 0px;
}
.frame .vector6 {
  position: absolute;
  width: 980px;
  right: 0px;
  top: 0px;
}
.frame .vector7 {
  position: absolute;
  width: 980px;
  right: 0px;
  top: 0px;
}
.frame .vector8 {
  position: absolute;
  width: 830px;
  left: 0px;
  bottom: 0px;
}
.frame .vector9 {
  position: absolute;
  width: 790px;
  left: 0px;
  bottom: 0px;
}
