.dashboard-overflow {
  overflow: auto;
  max-height: 91vh;
  height: 91vh;
  position: relative;
}
.main-overflow {
  overflow: auto;
  max-height: 91vh;
  height: 91vh;
  position: relative;
}
.box-overflow {
  overflow: auto;
  max-height: 85vh;
  height: 85vh;
  position: relative;
}

.detailPengguna-oveflow {
  overflow: auto;
  max-height: 65vh;
  height: 65vh;
  position: relative;
}
.text-overflow {
  overflow: auto;
  max-height: 41vh;
  height: 41vh;
  position: relative;
}
