.main-con {
  background-color: #ececee;
}
.kotak {
  border-color: #80a3c5;
  background-color: #ececee;
}
.judul {
  background-color: #d8dadc;
}
.judul h4 {
  color: #013b75;
  font-weight: 1000;
}
.tables {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border-collapse: collapse;
  overflow: hidden;
  table-layout: fixed;
}
.tables tr > th,
.tables tr > td {
  padding: 13px 0;
}
.tables .aksi {
  width: 10%;
}

.tables thead th:first-child,
.tables tbody td:first-child {
  text-align: start;
  padding-left: 50px;
}

.table-pagination {
  position: absolute;
  bottom: 0;
  justify-content: center;
  left: 35%;
}
