.judulE h4 {
  color: #013b75;

  font-weight: 1000;
}
.tablesE {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border-collapse: collapse;
  /* border-radius: 1em; */
  overflow: hidden;
  table-layout: fixed;
}
.tablesE tr > th {
  padding: 8px 0;
}
.tablesE tr > td {
  padding: 12px 0;
}
.tablesE .nama {
  width: 40%;
}
.tablesE .pertanyaan {
  width: 20%;
}
.tablesE .jawaban {
  width: 50%;
}

.tablesE thead th:first-child,
.tablesE tbody td:first-child {
  text-align: start;
  padding-left: 50px;
}
.tablesE .aksi {
  width: 10%;
}
.table-pagination-S {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
